body{
	background-image:url(arka.jpg);
	background-repeat: no-repeat;
  background-size: 120%; 600%;
	}
	




	
.menu1 { width:900px; height:60px; float:left; margin:5px 0 0 0; background:#white; border-radius:20px}
.menu1 ul { list-style:none; margin:0; padding:0}
.menu1 ul li { float:left; position:relative}
.menu1 ul li a{ display:block; width:200px; height:32px; text-decoration:none; padding:15px 0 0 0; text-align:center; color:red;  background-color: #000000; Border-radius:15px; font:13px Tahoma, Geneva, sans-serif}
.menu1 ul li a:hover { text-decoration:underline; background:gray; Border-radius:15px;}
.contact1{ width:850px; height:100px; float:left; margin-top:0 0 0 0px; background:none;}
.contact2{ width:180px; height:100px; float:left; margin-top:0 0 0 0px; background:none;}